JWTSECRET=psyche-forum-super-secret-jwt-change-in-prod
JWTREFRESHSECRET=psyche-refresh-secret-change-too
JWTEXPIRESIN=15m
JWTREFRESHEXPIRESIN=7d
PORT=3000
NODEENV=development
CLIENTURL=http://localhost:3000
ADMINSETUPKEY=psyche-admin-setup-2026
